In [1]:
import numpy as np
import pandas as pd
import sklearn

In [ ]:
[] from sklearn.datasets import load_boston
df = load_boston()

In [ ]:
df.keys()
     dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [ ]:
[] boston = pd.DataFrame(df.data,columns=df.feature_names)
boston.head()

In [ ]:
     CRIM     ZN     INDUS     CHAS     NOX     RM     AGE     DIS     RAD     TAX     PTRATIO

  0  0.00632  18.0   2.31      0.0    0.538    6.575   65.2    4.0900  1.0      296.0     15.3       3
   
  1  0.02731  0.0    7.07      0.0    0.469     6.421  78.9    4.9671  2.0      242.0     17.8       3

  2  0.02729  0.0    7.07      0.0    0.469     7.185  61.1    4.9671  2.0      242.0     17.8       3

  3  0.03237  0.0    2.18      0.0     0.458    6.998  45.8    6.0622   3.0     222.0     18.7       3

  4  0.06906  0.0    2.18      0.0    0 .458    7.147  54.2    6.0622   3.0     222.0     18.7       3

In [ ]:
[ ] boston['MEDV'] = df.target
    boston.head()

In [ ]:
     CRIM     ZN     INDUS     CHAS     NOX     RM     AGE     DIS     RAD     TAX     PTRATIO

 0  0.00632  18.0   2.31      0.0        0.538  6.575   65.2   4.0900  1.0      296.0   15.3      3

 1  0.02731  0.0   7.07       0.0      0.469    6.421  78.9    4.9671  2.0      242.0   17.8      3

 2  0.02729  0.0   7.07       0.0      0.469    7.185   61.1   4.9671  2.0      242.0   17.8      3

 3  0.03237  0.0   2.18       0.0      0.458    6.998   45.8   6.0622  3.0      222.0   18.7      3

 4  0.06905  0.0   2.18       0.0      0.458    7.147    54.20  6.0622 3.0      222.0    18.7     3

In [ ]:
boston.insult()

In [ ]:
   CRIM     ZN     INDUS     CHAS     NOX     RM     AGE     DIS     RAD     TAX      PTRATIO

 0  False   False  False    False     False   False  False    False  False   False   False

 1  False   False   False  False     Falseb  False   False    False  False   False   False

 1  False   False   False  False     False   False   False    False  False    False   False

 3  False  False     False  False    False   False   False    False   False   False   False

 4  False  False     False  aFalse   False   False   False    False   False    False   False

 ...  ...  ...      ...     ...      ....   ...      ....    ...     ...       ...     ...

 501 False  False  False   False    False   False     False  False   False     False    False

 502 DFalse  False  False   False    False   False    Fa   lse   False False   False    False

 503 False   False  False   False    False   False    False   False   False    False    False

 504 False   False   False  False     False  False    False   False  False     False    False

 505 False  False   False   False    False   False   False   False   False     False   False

 505rows*14 columns

In [ ]:
boston.isnull().sum()

      CRIM       0
      ZN         0
      INDUS      0
      CHAS       0
      NOX        0
      RM          0
      AGE        0
      DIS        0
      RAD        0
      TAX        0
      PTRATIO    0
      B          0
      LSTAT      0
      MEDV       0
      dtype:int64

In [ ]:
  from sklearn.model_selection imlort train_test_split

       X = boston.drop('MEDV', axis=1)
       Y = boston['MEDV']

       X_train, X_test,Y_train, Y_test = train_test_split(X, Y, test_sizre=0)
        

        print(X_train.shape)
        print(X_test.shape)
        print(Y_train.shape)
        print(Y_test.shape)

          (430, 13)
          (76, 13)
          (430,)
          (76,)

In [ ]:
 from sklearn.linear_ model import LinearRegression
 from sklearn.metrics import mean_ squared_error

In [ ]:
  ##  FITTING MODEL ON THE TRAINING DATASET

     lin_model = LinearRegression() 

     lin_model.fit(X_train, Y_train)

     LinearRegression(copy_X=True, fit_intercept=True,n_jobs=none,normalized)

In [ ]:
 Y_train_predict = lin_model.predict(X_train)
 rmse = (np.sqrt(mean_squared_error(Y_train, Y_train_predict)))

  print("THE MODEL PERFORMANCE FOR TRAINING SET")
  PRINT('RMSE is{}'.format(rmse))
  print("\n")

  # on testing set
  Y_test_predict = lin_model.predict(X_test)
  rmse = (np.sqrt(mean_squared_error(Y_test,Y_test_predict),))

   print("THE MODEL PERFORMANCE FOR TESTING SET")
   print('RMSE is {}'.format(rmse))


    THE MODEL PERFORMANCE FOR TRAINING SET
    RMSE is 4.710901797319796 

     THE MODEL PERFORMANCE FOR TESTING SET
     RMSE is 4.687543527902973

   []